# Игнорируем папки сборки
build/
*/build/

# Игнорируем сгенерированные файлы CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
CTestTestfile.cmake
Testing/

# Игнорируем скомпилированные бинарники
*.a
*.so
*.out
*.exe
rk2_main

# Игнорируем артефакты IDE
.idea/
.vscode/
*.user
*.sln
*.vcxproj*
*.opensdf
*.sdf

# Игнорируем временные файлы
*.swp
*~
*.bak
*.tmp

# Игнорируем пакеты DEB (они создаются при сборке)
*.deb
package/
